@import "../../aux/styles/all.scss";

.search-result {
  margin-top: 3rem;
}

.user-list-cards {
  display: flex;
  flex-flow: wrap row;
  align-content: space-between;
  justify-content: space-between;
}

.toolbar {
  @include flex-cols-nowrap;
  margin: 2rem 0.5rem 1rem;

  .toolbar-text {
    @include flex-col-width-fill;
    font-size: fontSize(1.2);
  }

  .toolbar-buttons {
    @include flex-col-width-auto;
    @include flex-cols-nowrap;
    justify-content: flex-end;

    .toolbar-button {
      margin: 0 0 0 0.5rem;
      padding: 0 0 0 0.5rem;
      @include flex-col-width-auto;

      cursor: pointer;
      color: rgba(black, 0.4);

      .fa {
        color: inherit;
        font-size: 1.1rem;
      }

      &.toolbar-button-active {
        cursor: default;
        color: $primary;
      }
    }
  }
}