@import "./aux/styles/all.scss";

body {
  margin: 0;
  padding: 0;
  font-size: fontSize();
  background: #f5f7f8;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;
}

.page {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  box-shadow: 0 rem(20) rem(40) $box-shadow-color;
  position: relative;

  &-badge {
    top: -2rem;
    left: 1rem;
    width: rem(80);
    height: rem(75);
    background: #d8dde6;
    position: relative;
  }

  &-caption {
    margin-top:-2rem;
    font-size: fontSize(1.5);
    text-align: center;
    font-weight: normal;
  }
}

.shadow-box {
  padding: 2rem;
  border-radius: $border-radius;
  box-shadow: 0 0 rem(10) $box-shadow-color;
}