@import "./aux/styles/all.scss";

body {
  margin: 0;
  padding: 0;
  font-size: fontSize();
  background: #f5f7f8;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;
}

.page {
  width: 95%;
  transition: width 0.3s ease-in-out;

  box-shadow: 0 rem(10) rem(10) $box-shadow-color;
  padding: 1rem;

  @include resp-md {
    width: 70%;
    padding: 2rem;
    box-shadow: 0 rem(20) rem(40) $box-shadow-color;
  }

  @include resp-lg {
    width: 50%;
  }

  margin: 0 auto;
  background: white;
  position: relative;

  &-badge {
    top: -2rem;
    left: 0rem;
    width: rem(80);
    height: rem(75);
    position: relative;
    background: #d8dde6;
    background-size: 70% auto;

    img {
      left: 15%;
      width: 70%;
      height: auto;
      bottom: rem(10);
      position: absolute;
    }
  }

  &-caption {
    margin-top: -2rem;
    font-size: fontSize(1.5);
    text-align: center;
    font-weight: normal;
  }
}

.shadow-box {
  padding: 2rem;
  border-radius: $border-radius;
  box-shadow: 0 0 rem(10) $box-shadow-color;
}

.loading {
  background: #f3f5f9 url('./static/spinner.svg') no-repeat center center;
  background-size: 2rem auto;
}

