/* Columns */

@mixin flex-cols-wrap() {
  display: flex;
  flex-flow: row;
}

@mixin flex-cols-nowrap() {
  display: flex;
  flex-flow: nowrap row;
}
@mixin flex-cols-wrap() {
  display: flex;
  flex-flow: wrap row;
}

@mixin flex-col-width-auto() {
  width: auto;
  flex: 0 0 auto;
}

@mixin flex-col-width-fill() {
  flex: 1 1 auto;
}

/* Rows */
@mixin flex-rows-nowrap() {
  display: flex;
  flex-flow: nowrap column;
}

@mixin flex-row-height-auto() {
  height: auto;
  flex: 0 0 auto;
}

@mixin flex-row-height-fill() {
  flex: 1 1 auto;
}



